*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
   
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
} 

nav{
    padding-left: 2rem;
    
}
nav img{
    width: 12rem;
    
    
}
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}



#btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  
}
#btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

#whatsappIcon{
    width: 2rem;
   
}

p{
    font-size: 1.2rem;
}
.nosotros {
    margin-top: 3rem;
}
.nosotros h3, .proyectos h3{

    background-color: #002a43;
    color: aliceblue;
    border-radius: 15px;
    padding: .5rem;
    
}
.nosotros .row{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
 

.servicios{
    width: 60%;
    margin-top: 1rem;
}
.servicios .row{
    text-align: center;
}
.servicios img{
    width: 100%;
    
}
.servicios p{
    font-size: .9rem;
    padding: .5rem;
    line-height: 1.5;
    color: #4b4b4b;
    
    
   
}
.targetService{
    display: grid;
    height: 95%;
    margin-top: 1rem;
    background-color: #b4dceb;
    border: 1px rgba(0, 0, 0, 0.418) solid;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.targetService:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.proyectos{
    margin-top: 3rem;
    width: 100%;
}
.rowes img{
    width: 100%;
    cursor: pointer;
}
.rowes{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}
.column img{
    margin-top: 5px;
}
@media (max-width: 600px) {
    .column{
        flex: 100%;
    }
}
@media (max-width: 800px) {
    .column{
        flex: 50%;
    }
    .servicios{
        width: 100%;
        padding: 1rem;
    }
}


#oficinas img{
    margin-top: 3rem;
    border-radius: 1rem;
    width: 70%;
    border: 1px rgba(0, 0, 0, 0.418) solid;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
#oficinas img:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.foot{
    display: flex;
    justify-content: center;
   
}
.foot{
    margin-top: 3rem;
    padding-top: 2rem;
    background-color: #002a43;
}
.foot img{
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 10px;
    
}
.apartado p{
    color: hsl(0, 100%, 100%);
    font-size: 1rem;
    
}
.apartado h3{
    color: aliceblue;
}

.instaFoot img{
    width: 15%;
    margin-left: 3rem;
    margin-top: .3rem;
    
}
.instaFoot {
    color: aliceblue;
    
    
}


